# Main Stuff
__pycache__
.ipynb_checkpoints
.DS_Store

# Temp stuff
Test*

#Private Stuff
p_funds_prices.csv
funds.csv
funds_prices.csv
p_get_prices.py
optionsToday.html
pnlToday.html
to_do.ipynb
readme.ipynb
