body {
  margin: 30px;
  font-family: Monaco;
}
table {
  padding: 5px;
}

td {
  padding: 5px 10px;
}

.number {
  text-align: right;
  font-weight: bold;
}

.data {
  text-align: center;
}

th {
  font: 18px/1.4 Arial, sans-serif;
  font-weight: bold;
}

@media print {
  hr {
    margin: 25px 0;
  }

  body {
    margin: 0;
  }
}
